.nav-fixed{
    background-color: rgb(13, 70, 94);
    height: 40px;
}
.nav-fixed select{
    margin-top: 10px;
    margin-left: 90%;
    background-color: rgb(13, 70, 94);
    border: 0px;
    outline: 0px;
}
.link ul {
    display: flex;
 
    margin-top: 10px;
    margin-right: 10px; /* Adjust the value to increase or decrease the space */
    margin-bottom: 10px;
    list-style:none;
    
    
}
.link ul li{
    padding: 10px;
    color: black;
    
}
.link ul li a:link{
    text-decoration: none;
    color: black;
}
.link ul li a:visited{
    text-decoration-line: none;
}
.link ul li a:hover {
    color: rgb(167, 89, 33);
    text-decoration-line: underline;
  }