.nav-fixed{
    background-color: rgb(36, 109, 141);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-mixed{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.nav-fixed img{
    height: 30px;
    width: 30px;
    
    /* margin-left: 95%; */
}
.nav-fixed select{
    /* margin-top: 1px; */
    /* margin-left: 86%; */
    background-color: rgb(36, 109, 141);
    border: 0px;
    outline: 0px;
}
.link ul {
    display: flex;
 
    margin-top: 10px;
    margin-right: 10px; /* Adjust the value to increase or decrease the space */
    margin-bottom: 10px;
    list-style:none;
    
    
}
.link ul li{
    padding: 10px;
    
     
}
.link ul li a:link {
    text-decoration: none;
    
}

.link ul li a:focus {
    color: rgb(108, 65, 237);
    margin-bottom: 10px;
    text-decoration-line: underline;
}



  