.body{
    background-color: rgb(244, 235, 235);
}
.main{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 200%;
    
}
.my-image{
    /* margin-left: 40%; */
    margin-top: 10%;
}

.main-mn {
    display: flex;
  }
  
  .main {
    flex: 1;
  }
  
  .my-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-image img {
    
    border-radius: 50%; /* Add this line to make the image circular */
  }

  .my-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(212, 188, 188);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .main h2{
    font-family:cursive;
    color:rgba(98, 87, 35, 0.386)
  }
  .main h3{
    font-family:monospace;
    color: rgba(63, 62, 59, 0.386);
  }
  
  
  
  
  
  